<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospitales - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hospitales.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    <link href="~/css/datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/jquery-ui-1.13.2/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.13.2/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.13.2/jquery-ui.theme.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hospitales</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @foreach (var item in Hospitales.Helpers.Listas.ListaPaginasMenu)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="@item.Controlador" asp-action="@item.Accion">@item.Mensaje</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="CerrarSesion">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Hospitales - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery-ui-1.13.2/external/jquery/jquery.js"></script>
    <script src="~/lib/jquery-ui-1.13.2/jquery-ui.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/SweetAlert2.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
