@using Hospitales.Clases
@model IEnumerable<DoctorCLS>

@{
    ViewData["Title"] = "Doctores";
    List<SelectListItem> listaPersonas = ViewBag.listaPersonas;
    List<SelectListItem> listaSedes = ViewBag.listaSedes;
    List<SelectListItem> listaEspecialidades = ViewBag.listaEspecialidades;
    List<int> botones = ViewBag.Botones;
}

<h1>Doctores</h1>
<hr />
<div class="d-flex justify-content-between align-items-center mb-2">
    <div>
        @if (botones != null && botones.Contains(1))
        {
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Open(0)">
                Nuevo
        </button>
        }
    </div>
    <div class="d-flex">
        <label class="col-form-label me-4">Buscar:</label>
        <input type="text" class="form form-control" placeholder="Nombre Doctor.." name="Nombre" id="txtNombre" value="@ViewBag.Nombre" />
        <input type="button" value="Buscar" class="btn btn-info ms-4" onclick="Buscar()" />
        <input type="button" value="Limpiar" class="btn btn-danger ms-2" onclick="limpiar()" />
    </div>
    <div>
        @if (botones != null && botones.Contains(4))
        {
            <input type="button" value="Excel" class="btn btn-outline-success" onclick="Excel()" />
        }

        @if (botones != null && botones.Contains(5))
        {
            <input type="button" value="Word" class="btn btn-outline-primary ms-2" onclick="Word()" />
        }

        @if (botones != null && botones.Contains(6))
        {
            <input type="button" value="PDF" class="btn btn-outline-danger ms-2" onclick="PDF()" />
        }
        @if (botones != null && botones.Contains(7))
        {
            <input type="button" value="Imprimir" class="btn btn-outline-secondary ms-2" onclick="Imprimir('Doctores')" />
        }
        @if (botones != null && botones.Contains(1007))
        {
            <input type="button" value="Descargar" class="btn btn-outline-info ms-2" onclick="DescargarPDF('Doctor','Doctores')" />
        }
    </div>
</div>

<form asp-action="Descargar" asp-controller="Doctor" id="frmExportar">
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Iiddoctor)<input type="checkbox" class="ms-1 trCheck" checked name="nombrePropiedades" value="Iiddoctor" />
                    <input type="hidden" name="tipo" id="tipo" />
                </th>
                <th>@Html.DisplayNameFor(x => x.NombreCompleto)<input type="checkbox" class="ms-1 trCheck" checked name="nombrePropiedades" value="NombreCompleto" /></th>
                <th>@Html.DisplayNameFor(x => x.Sede)<input type="checkbox" class="ms-1 trCheck" checked name="nombrePropiedades" value="Sede" /></th>
                <th>@Html.DisplayNameFor(x => x.Especialidad)<input type="checkbox" class="ms-1 trCheck" checked name="nombrePropiedades" value="Especialidad" /></th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody id="tbody">
        </tbody>
    </table>
</form>

<input type="hidden" id="txtDelete" name="idEliminar" />

@if (botones != null && botones.Contains(2))
{
    <input id="editar" type="hidden" value="1" />
}
else
{
    <input id="editar" type="hidden" value="0" />
}
@if (botones != null && botones.Contains(3))
{
    <input id="eliminar" type="hidden" value="1" />
}
else
{
    <input id="eliminar" type="hidden" value="0" />
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="iidDoctor" />
                    <label class="control-label">Sede</label>
                    <select asp-items="listaSedes" id="iidSede" class="form-control form-select"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Especialidad</label>
                    <select asp-items="listaEspecialidades" id="iidEspecialidad" class="form-control form-select"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Sueldo</label>
                    <input type="text" id="sueldo" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha Contrato</label>
                    <input type="text" id="fechaContrato" class="form-control" />
                </div>
                <div class="form-group" id="divPersona">
                    <label class="control-label">Persona</label>
                    <select asp-items="listaPersonas" id="iidPersona" class="form-control form-select"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnClose">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Aceptar</button>
            </div>
            <div id="divErrores"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let controller = "Doctor";
        let action = "Edit";
        let campos = ["iiddoctor", "nombreCompleto", "sede", "especialidad"];
        let editar = document.getElementById("editar").value;
        let eliminar = document.getElementById("eliminar").value;

        window.onload = () => {

            Listar();
        }

        $(function () {
            $("#fechaContrato").datepicker({ dateFormat: "dd-mm-yy", changeMonth: true, changeYear: true, yearRange: "1980:2023" });
        });

        function Listar() {
            let url = "/Doctor/Listar";
            Tabla(url, campos, controller, true, editar, eliminar);
        }

        function Buscar() {

            let nombre = document.getElementById("txtNombre").value;
            let url = "/Doctor/Filtrar/?nombre=" + nombre;

            Tabla(url, campos, controller, true, editar, eliminar);
        }

        function limpiar() {
            document.getElementById("txtNombre").value = '';
            Listar();
        }

        function LimpiarModal() {
            document.getElementById("iidDoctor").value = "";
            let controles = document.getElementsByClassName("form-control");
            Array.from(controles).forEach((item) => {
                item.value = "";
            });
        }

        function Open(id) {
            LimpiarModal();
            document.getElementById("divErrores").innerHTML = "";

            if (id == 0) {
                $("#exampleModalLabel").text("Doctor - Create");
                document.getElementById("divPersona").style.display = "block";
            }
            else {
                $("#exampleModalLabel").text("Doctor - Edit");
                document.getElementById("divPersona").style.display = "none";
            }
        }

        function Edit(id) {
            Open(id);

            $.get("/Doctor/Edit/?id=" + id, (resp) => {
                console.table(resp);
                if (resp != "") {
                    document.getElementById("iidDoctor").value = resp.iiddoctor;
                    document.getElementById("iidSede").value = resp.iidsede;
                    document.getElementById("iidEspecialidad").value = resp.iidespecialidad;
                    document.getElementById("sueldo").value = resp.sueldo;
                    document.getElementById("fechaContrato").value = resp.fechaContratoString;
                    document.getElementById("iidPersona").value = resp.iidpersona;
                }
            })
        }

        function Guardar() {
            let iidDoctor = document.getElementById("iidDoctor").value * 1;
            let iidSede = document.getElementById("iidSede").value;
            let iidEspecialidad = document.getElementById("iidEspecialidad").value;
            let sueldo = document.getElementById("sueldo").value;
            sueldo = sueldo.replace(",", ".");
            let fechaContrato = document.getElementById("fechaContrato").value;
            let iidPersona = document.getElementById("iidPersona").value;

            var frm = new FormData();
            frm.append("Iiddoctor", iidDoctor);
            frm.append("Iidsede", iidSede);
            frm.append("Iidespecialidad", iidEspecialidad);
            frm.append("Sueldo", sueldo);
            frm.append("FechaContratoString", fechaContrato);
            frm.append("Iidpersona", iidPersona);

            $.ajax({
                type: "POST",
                url: "/Doctor/Guardar",
                data: frm,
                processData: false,
                contentType: false,
                success: (resp) => {
                    if (resp == "1") {
                        exito("Guardado correctamente..");
                        document.getElementById("btnClose").click();
                        Listar();
                    }
                    else {
                        error();
                        document.getElementById("divErrores").innerHTML = resp;
                    }
                }
            });
        }

        function Eliminar(id) {
            // document.getElementById("txtDelete").value = id;

            mostrarModal().then(result => {
                if (result.isConfirmed) {
                    // document.getElementById("frmDelete").submit();
                    $.post("/Doctor/Delete", { idEliminar: id }, (resp) => {
                        if (resp == "1") {
                            Listar();
                            exito("Borrado correctamente..");
                        }
                        else {
                            error();
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('Los cambios no se han guardado', '', 'info')
                }
            });
        }

    </script>
}


